.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#recipeBlock{
  display: inline-block;
  width: min-content;
  min-width: 50%;
  border-style: solid;
  border-color: rgba(124, 51, 33, 0.945);
  background-color: rgb(208, 233, 255);
  border-radius: 45px;
  margin: 10vh;
}

#recipesTitle{
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
  padding: 0px;
}

#recipeList {
  display: inline-block;
  margin: 0px;
}

.recipes {
  margin: 20px;
  list-style: none;
}

.recipes > button {
  font-size: 30px;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  background-color: #ffedb0;
  box-shadow: 5px 5px 2px #7e7673;
}

.recipeItemBase{
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.recipeItem{
  display: inline-block;
  padding: 20px;
  border-radius: 90px;
  border-style: solid;
  border-color: #8d2121;
  background-color: #ffedb0;
}

.recipeImage{
  width: 30%;
  border-radius: 90px;
}

.components{
  padding: 20px;
  border-radius: 45px;
}

.blueGroup{
  border-radius: 45px;
  border-style: solid;
  border-color: #9c2616;
  padding: 20px;
  margin: 10px;
  background-color: #79b3ff;
  width: 70%;
  list-style: none;
}

.blueSub{
  background-color: #c3f1ff;
  border-radius: 45px;
  padding: 30px;
  margin: 10px;
  width: auto;
  text-align: left;
  line-height: 2;
  display: inline-block;
  vertical-align: top;
  box-shadow: 10px -10px 10px #000000
}

h4 {
  display: inline-block;
  background-color: #e4cb8d;
  border-radius: 15px;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.ingrediants{
  width: 30%;
}

.directions{
  width: 50%;
}